@import url("https://fonts.googleapis.com/css?family=Pacifico");
.nav-bar {
  background-color: #0b0024 !important;
  border-radius: 30px;
  display: flex;
  height: 55px; }
  .nav-bar p {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin: 6px;
    color: white; }
  .nav-bar .home-logo {
    height: 50px;
    margin: -10px;
    border-radius: 25px; }
  .nav-bar .social-media {
    margin: 7px 7px 0px auto; }

@media only screen and (max-width: 500px) {
  .nav-bar {
    flex-direction: column;
    justify-content: space-around;
    height: 160px;
    border-radius: 7px; }
    .nav-bar .home {
      margin: 13px auto 0px; }
    .nav-bar .social-media {
      margin: 0px auto 10px; } }
