@import url("https://fonts.googleapis.com/css?family=Pacifico");
html {
  font-family: 'Pacifico', cursive; }

.home-logo {
  height: 50px;
  margin: -15px;
  border-radius: 25px; }

.social-media {
  margin-top: 3px;
  margin-right: -10px;
  margin-left: auto; }
